* {
    margin: 0;
    padding: 0;
}

.container{
    position:relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
}

header {
    background-color: #333; /* Color de fondo */
    padding: 10px; /* Espaciado interior */
    text-align: center; /* Centrar el contenido */
}

header img {
    max-width: 100%; /* Ajustar el tamaño máximo de la imagen al ancho del header */
}


.campo-texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #b9fddd;
}

.campo-texto::placeholder {
    color: #0a3871;
}

.campo-texto:focus,
.campo-texto:active{
    border:none;
    outline: none;
}

.terminos{
    display: flex;
    flex-direction: arrow;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 83%;
}

.btnEncriptar{
    align-items:center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.btnDesencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 25%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;

}

.btnDesencriptar:hover,
.btnEncriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

/*.mensaje-encriptado{
    position: absolute;
    width: 42%;
    height: 80%;
    left: 0%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #bbc7f4;
}*/

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 67%;
    left: 60%;
    top: 10%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0 , 0, 0.08);
    border-radius: 32px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 15%;
    text-align: center;
}

.mensaje-encriptado h2{
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height:120%;
    text-align: center;
    color: #343a40;
}

.mensaje-encriptado p{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.mensaje{
    position: absolute;
    width: 80%;
    height: 700%;
    left: 11%;
    top: 150%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #B4DDF1;
}

.mensaje::placeholder {
    color: #0a3871;
}

.mensaje:focus,
.mensaje:active{
    border:none;
    outline: none;
}

.botones2{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 38% 0;
    position: absolute;
    width: 80%;
    left: 11%;
    top: 70%;
}

.btncopiar{
    align-items:center;
    justify-content: center;
    padding: 10%;
    gap: 20px;
    width: 100%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

footer {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interior */
    text-align: center; /* Centrar el texto */
}
